absl-py==0.13.0
aiohttp==3.7.4.post0
alabaster==0.7.11
altgraph==0.17.3
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.0.4
astropy==3.0.4
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites==1.2.1
attrs==21.2.0
auto-py-to-exe==2.33.0
Automat==0.7.0
autopep8==1.4.4
Babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
black==20.8b1
blaze==0.11.3
bleach==2.1.4
bokeh==0.13.0
boto==2.49.0
bottle==0.12.25
bottle-websocket==0.2.9
Bottleneck==1.2.1
bs4==0.0.1
burnysc2==5.0.12
CacheControl==0.12.6
cachetools==4.2.1
certifi==2021.10.8
cffi==1.14.5
chardet==3.0.4
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle==0.5.5
clyent==1.2.2
colorama==0.4.4
comtypes==1.1.7
conda==4.10.3
conda-build==3.15.1
conda-package-handling @ file:///C:/ci/conda-package-handling_1603018162806/work
constantly==15.1.0
contextlib2==0.5.5
cryptography @ file:///C:/ci/cryptography_1607639129468/work
cssselect==1.1.0
cx-Freeze==6.7
cx-Logging==3.0
cycler==0.10.0
Cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
dataclasses-json==0.5.2
datashape==0.5.4
decorator==4.3.0
deepdiff==5.5.0
defusedxml==0.5.0
discord.py==1.7.1
distributed==1.23.1
docopt==0.6.2
docutils==0.14
dominate==2.7.0
Eel==0.16.0
entrypoints==0.2.3
enum34==1.1.10
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcache==1.0.2
filelock==3.0.8
firebase==3.0.1
firebase-admin==5.0.3
flake8==3.6.0
Flask==2.0.2
Flask-Bootstrap4==4.0.2
Flask-Caching==1.10.1
Flask-Cors==3.0.6
Flask-WTF==1.0.1
future==0.18.2
gevent==1.3.6
gevent-websocket==0.10.1
gitdb==4.0.7
glob2==0.6
google-api-core==1.26.3
google-api-python-client==2.2.0
google-auth==1.28.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
google-cloud-core==2.1.0
google-cloud-firestore==2.3.4
google-cloud-storage==1.41.1
google-crc32c==1.3.0
google-resumable-media==2.0.3
googleapis-common-protos==1.53.0
graphics==1.0
greenlet==2.0.1
grpcio==1.41.0
h11==0.12.0
h5py==2.8.0
heapdict==1.0.0
html2text==2020.1.16
html5lib==1.0.1
httplib2==0.19.1
hyperlink==18.0.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==2.1.0
incremental==17.5.0
ipykernel==4.10.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
isodate==0.6.0
isort==4.3.4
itsdangerous==2.0.1
jdcal==1.4
jedi==0.12.1
Jinja2==3.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
keyring==22.0.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.24.0
locket==0.2.0
loguru==0.5.3
lxml==4.2.5
MarkupSafe==2.0.1
marshmallow==3.11.1
marshmallow-enum==1.5.1
marsutils==0.4.0
matplotlib==2.2.3
mccabe==0.6.1
menuinst==1.4.14
mistune==0.8.3
mkl-fft==1.0.4
mkl-random==1.0.1
mock==4.0.3
more-itertools==4.3.0
mpmath==1.0.0
mpyq==0.2.5
msgpack==0.5.6
multidict==5.1.0
multipledispatch==0.6.0
mypy @ file:///tmp/build/80754af9/mypy_1624522079895/work
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.8
numpy==1.15.1
numpydoc==0.8.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.46
openpyxl==2.5.6
ordered-set==4.0.2
outcome==1.1.0
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parse==1.19.0
parso==0.3.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
pathspec==0.7.0
patsy==0.5.0
pbr==5.5.1
pefile==2023.2.7
pep8==1.7.1
pickleshare==0.7.4
Pillow==5.2.0
Pint==0.8.1
pipreqs==0.4.10
pkginfo==1.4.2
platformdirs==2.6.2
playwright==1.30.0
pluggy==0.7.1
ply==3.11
portpicker==1.4.0
prometheus-client==0.3.1
prompt-toolkit==1.0.15
proto-plus==1.19.5
protobuf==3.15.8
psutil==5.4.7
py==1.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.6
pydocstyle==6.1.1
pyee==9.0.4
pyflakes==2.0.0
pyfrc==2018.4.3
pygame==2.0.1
pyglet==1.5.21
Pygments==2.8.0
PyHamcrest==1.9.0
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
pylama==7.7.1
pylint==2.1.1
pynetconsole==2.0.2
pynetworktables==2019.0.2
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.4.7
pyppeteer==1.0.2
PyQt6==6.2.0
PyQt6-Qt6==6.2.0
PyQt6-sip==13.1.0
pyquery==1.4.3
PySC2==3.0.0
PySocks==1.6.8
pytest==3.8.0
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-dateutil==2.7.3
python-youtube==0.8.0
PyTMX==3.25
PyTweening==1.0.3
pytz==2018.5
PyWavelets==1.0.0
pywin32==223
pywin32-ctypes==0.2.0
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.4.4
qtconsole==4.4.1
QtPy==1.5.0
randomplushmiku==0.2.0
rarfile==4.0
readme-renderer==29.0
regex @ file:///C:/ci/regex_1606691216163/work
requests==2.25.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
robotpy-ctre==2018.3.1
robotpy-hal-base==2018.1.6
robotpy-hal-sim==2018.1.6
robotpy-installer==2018.0.5
robotpy-navx==2018.0.0
robotpy-rev==2019.0.2
robotpy-wpilib-utilities==2018.1.4
rope==0.11.0
rsa==4.7.2
ruamel-yaml==0.15.46
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
selenium==4.0.0
Send2Trash==1.5.0
service-identity==17.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
sk-video==1.1.10
smmap==4.0.0
sniffio==1.2.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
Sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.11
statsmodels==0.9.0
stevedore==3.3.0
stringcase==1.2.0
sympy==1.1.1
tables==3.4.4
TBB==0.1
tblib==1.3.2
terminado==0.8.1
testpath==0.3.1
toml==0.10.2
toolz==0.9.0
tornado==5.1
tqdm==4.62.3
traitlets==4.3.2
trio==0.19.0
trio-websocket==0.9.2
twine==3.3.0
Twisted==18.7.0
typed-ast @ file:///C:/ci/typed-ast_1610484654578/work
typing-extensions==4.4.0
typing-inspect==0.6.0
unicodecsv==0.14.1
uritemplate==3.0.1
uritools==4.0.1
urlextract==1.8.0
urllib3==1.26.7
visitor==0.1.3
w3lib==1.22.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.2.1
websockets==10.1
Werkzeug==2.0.2
whichcraft==0.6.1
widgetsnbextension==3.4.1
win-inet-pton==1.0.1
win-unicode-console==0.5
win32-setctime==1.0.4
wincertstore==0.2
wpilib==2018.1.6
wrapt==1.10.11
wsproto==1.0.0
WTForms==3.0.1
xlrd==1.1.0
XlsxWriter==1.1.0
xlwings==0.11.8
xlwt==1.3.0
yarg==0.1.9
yarl==1.6.3
zict==0.1.3
zipp==3.4.0
zope.interface==4.5.0
